.bungalow {
    width: 100%;
    margin: 0;
}

.reservar form {
    background-color: #4697b4;
    padding-bottom: 1rem;
    display: flex;
    flex-flow: column nowrap;
}

.reservar .btn, .buscar .btn {
    background-color: #254b5e;
    border: 0;
    height: 2rem;
    color: white;
    font-size: 1.5rem;
    display: block;
    width: 70%;
    margin: 1rem 15%;
    box-shadow:  13px 6px 15px rgba(0, 0, 0, 0.6);
    
}

.reservar .campo {
    width: 80%;
    margin: 0.5rem 10%;
}

.bungalow .buscar {
    margin: 2rem 0;
    width: 100%;
    font-weight: bold;
}

.reservas ul {
    list-style: none;
    padding: 0;
}

.reserva {
    margin-bottom: 4rem;
}

.reserva ul li {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 0.5rem;
}